VITE_FIREBASE_API_KEY=sua_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=invest-gd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=invest-gd
VITE_FIREBASE_STORAGE_BUCKET=invest-gd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1084458937220
VITE_FIREBASE_APP_ID=1:1084458937220:web:a827fa4421e917d9490bd1
